/* Hoja css para estilos de la pagina Home*/

/* Variables*/
:root{
  --color-blanco:white;
  --color-negrotran:rgba(0, 0, 0, 0.89);
  /* Conjunto degradado1*/
  --degradado1:#0F2027;
  --degradado2:#203A43;
  --degradado3:#2c5364;
  --degradado4:#200122;
  --degradado5:#6f0000;
  /* Conjunto degradado2*/
  --degradado7:#000000;
  --degradado8:#0f9b0f;
  /* Conjunto degradado3*/
  --degradado9:#000428;
  --degradado10:#004e92;
  /* Conjunto degradado4*/
  --degradado11:#ba8b02;
  --degradado12:#181818;
  /*Degradados completo*/
  --color-red2:rgba(249, 29, 29,0.15);
}

#fondo_home {
  /*background-image: url(../images/Glitch3.jpg);
  background-size: 105% 135%;
  background-attachment: fixed;*/
  background-color: black;
}

/* Contenedor de maquetacion y aplicable a toda la página */
* {
  margin: 0px;
  padding: 0px;
}

/* INCIO DISEÑO DEL MENÚ DE NAVEGACIÓN */
/* Titulo */
#Titulo {
  background-color: black;
  color: var(--color-blanco);
  text-align: center;
  border: 50px solid black;
  font-style: oblique;
  font-size: 35px;
}

/* Menú */
#Menu {
  background-color: black;
  color: var(--color-blanco);
  font-size: 35px;
  display: flex;
  /* Un poco de flexbox*/
  flex-direction: row-reverse;
}

#Menu ul {
  list-style: none;
  /*Para quitarle los puntos a la lista */
}

#Menu #item {
  float: left;
}

#Menu #item a {
  color: var(--color-blanco);
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 12px 22px;
  /* Lado superior y el otro es lado izquierdo y derecho*/
  display: block;
  text-decoration: none;
  /* Quitarle las lineas que le da el display:block*/
}

/* Para que oculte las opciones*/
#Menu #desple {
  display: none;
  position: absolute;
  min-width: 314px;
}

/* Para cambiar el color cada vez se pase el cursor por alguna de las opciones*/
#Menu #item a:hover {
  /*background-color: rgba(61, 61, 61 ,0.30); */
  background-color: white;
  color: black;
}

/* Cuando el cursor pase por ahí, debe mostrar las opciones*/
#Menu #item:hover #desple {
  display: block;
  background-color: black;
}

/* FIN DISEÑO DEL MENÚ DE NAVEGACIÓN */

/* INICIO DE DISEÑO DE MAIN*/
.contenedor_titulo{
  text-align: center;
  color: var(--color-blanco);
  display: flex;
  justify-content: center;
  padding: 100px;
}
.contenedor_titulo > div > h1{
  font-size: 100px;
  font-style: normal;
}

/* Estilos para la tabla*/
table, th, td{
  border: 3px solid red;
  border-collapse: collapse; /* Para que las celdas dejen de tener su borde*/
  border-radius: 30px;
  margin-left: 10px;
}
th, td{
  color: var(--color-blanco);
  padding: 20px;
}
th{
  font-size: 29px;
}
td{
  text-align: center;
}
.enla_titulo{
  color: white;
  font-size: 30px;
}
.description{
  font-size: 22px;
}
.recientes{
  float: left;
  width: 65%;
  background-color: var(--color-negrotran);
}
.recientes > h1{
  color: var(--color-blanco);
  font-style: italic;
  text-align: center;
  font-size: 60px;
  padding: 20px;
}
.extras_recientes{
  justify-content:center;
  float: right;
  background-color: var(--color-negrotran);
  width: 34.73%;
  margin-right: 5px;
}
.extras_recientes > h1 {
  color: var(--color-blanco);
  text-align: center;
  font-style: italic;
  font-size: 40px;
  padding: 10px;
}
.videos > h2{
  color: white;
  text-align: center;
  padding: 20px;
}

.para_usuario{
  color: var(--color-blanco);
}
.para_usuario > h1{
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
.para_usuario > p {
  padding: 10px;
  font-size: 21px;
}
