/*Estilos para página de Ciberseguridad */

/* Variables*/
:root{
  --color-blanco:white;
  --color-rojo:red;
  /* Conjunto degradado1*/
  --degradado1:#0F2027;
  --degradado2:#203A43;
  --degradado3:#2c5364;
  --degradado4:#200122;
  --degradado5:#6f0000;
  /* Conjunto degradado2*/
  --degradado7:#000000;
  --degradado8:#0f9b0f;
  /*Conjunto degradados total*/
  --color-negrotran:rgba(0, 0, 0, 0.70);

}

/* Fondo del body */
#fondo_hacker{
  background-color: black;
}
/* Contenedor de maquetacion y aplicable a toda la página */
*{
  margin: 0px;
  padding: 0px;
}
/* INCIO DISEÑO DEL MENÚ DE NAVEGACIÓN */
/* Titulo */
#Titulo{
  background-image: linear-gradient(70deg, var(--degradado7), var(--degradado8));
  color: var(--color-blanco);
  text-align: center;
  border: 50px solid;
  border-image: linear-gradient(70deg, var(--degradado7), var(--degradado8));
  /* Para que el borde izquierdo y derecho no tengan esos colores de error*/
  border-left: inherit;
  border-right: inherit;
  /* ------- */
  font-style: oblique;
  font-size: 35px;
}
/* Menú */
#Menu{
  background-image: linear-gradient(70deg, var(--degradado7), var(--degradado8));
  color: var(--color-blanco);
  font-size: 25px;
  display: flex; /* Un poco de flexbox*/;
  flex-direction: row-reverse;
}
#Menu ul{
  list-style: none; /*Para quitarle los puntos a la lista */
}
#Menu #item{
  float: left;
}
#Menu #item a{
  color: var(--color-blanco);
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 12px 22px; /* Lado superior y el otro es lado izquierdo y derecho*/
  display: block;
  text-decoration: none; /* Quitarle las lineas que le da el display:block*/
}
/* Para que oculte las opciones*/
#Menu #desple{
  display: none;
  position:absolute;
  min-width: 314px;
}
/* Para cambiar el color cada vez se pase el cursor por alguna de las opciones*/
#Menu #item a:hover{
 background-color: black;
}
/* Cuando el cursor pase por ahí, debe mostrar las opciones*/
#Menu #item:hover #desple{
  display: block;
  background-image: linear-gradient(70deg, var(--degradado7), var(--degradado8));
}
/* FIN DISEÑO DEL MENÚ DE NAVEGACIÓN */

/* INICIO DISEÑO DE CONTENIDO*/
/*INTRODUCCIÓN*/
.intro{
  color: white;
}
.intro > h1{
  text-align: center;
  padding: 40px;
  font-size: 60px;
}
.linea{
  margin: 16px;
  width: 97%;
  border-bottom: 2px solid var(--degradado8);
}
.contenedor1{
  display: flex;
}
.texto1{
  width: 70%;
  float: left;
}
.tabla_guia{
  display: flex;
  float: right;
  width: 30%;
  justify-content: space-around;
}
.tabla{
  border: 2px solid var(--degradado8);
  padding: 30px;
}
.texto1 > p{
  font-size: 23.5px;
  padding: 10px;
}
.tabla > h3{
  color: var(--color-blanco);
  font-size: 25px;
}
.tabla ol li a{
  color: white;
  font-size: 22px;
}
span{
  color: red;
}
.texto2{
  color: white;
}
.texto2 > h1{
  text-align: left;
  padding-left:30px;
  font-size: 28px;
}
.texto2-1{
  color: white;
  width: 70%;
  float: right;
}
.texto2-1 > p {
  padding: 15px;
  font-size: 23.5px;
}
.contenedor2-1{
  display: flex;
}
.imagen{
  width: 30%;
  float: left;
  padding-left: 20px;
}
.texto2-2 > p{
  color: white;
  padding: 15px;
  font-size: 23.5px;
}
.texto3{
  color: white;
}
.texto3 > h1{
  text-align: right;
  padding-right:80px;
  font-size: 30px;
}
.texto3-1{
  color: white;
}
.texto3-1 > p{
  padding: 15px;
  font-size: 23.5px;
}
/* Para la tabla de sombreros */
/* Estilos para la tabla*/
table, th, td{
  border: 2px solid green;
  border-collapse: collapse; /* Para que las celdas dejen de tener su borde*/
  background-color: var(--color-negrotran);
}
th, td{
  color: var(--color-blanco);
  padding: 20px;
}
th{
  font-size: 29px;
}
td{
  text-align: center;
  font-size: 22px;
}
