*
{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: azure;
}


.body
{
    background-image: url(img/daringblackandwhitebeagle-max-1mb_bhcc.gif);

}

.container
{
    text-align: center;

    background-color: blueviolet;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
}

.letra
{
    text-align: center;
    background-color: chocolate;
    border-bottom:solid 2px rgba(223, 107, 25, 0.678);
    border-radius: 10px;
    padding: 3%;

    border-left: dotted 3px white;
    border-right: dotted 3px white;
}

.title
{
    background-color: chocolate;
    border: solid 3px white;
    border-radius: 3px;
    padding: 2%;
}

.subtitle
{
    background-color: chocolate;
    border: solid 3px white;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;


}